

a {
  color: rgb(0, 0, 0);
  margin:10px;
  text-decoration: none;
  border: 2px solid steelblue;
  color: 2px solid steelblue;
  padding: 10px;
  border-radius: 2px;
}
a.active {
  color: rgb(246, 5, 5) 
}

.navbar {
  padding:10px;
  border: 2px solid rgb(0, 0, 0);
}

.page-content {
  padding:10px;
  border: 2px solid orange;
}
body{
  background-color: gray;
}